@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position:fixed;
    background-color: #EDBFFF;
    z-index: 9;
    mix-blend-mode: difference;
    transition: left linear 0.1s top linear 0.1s;
}

.elem h1{
    transition: all ease-out 0.5s;
    color: white;
}

.elem :hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}

.elem img{
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
    opacity: 0;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}